[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"
myst-parser = "*"
eralchemy = "*"
pygraphviz = "*"
recommonmark = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
make_html = "make html"
