# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  push:
    branches:
    - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'
        
    - name: Install pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        
    - name: Install graphviz
      run: |
        sudo apt-get update
        sudo apt-get install graphviz
        
    - name: Build html
      run: |
        pipenv run make_html
        
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: release
        path: ./_build/html/
    
    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.301'
        
    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'docs-traisare'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_cf361e7992124be0aec5b5b247bd17d1 }}
        package: ./_build/html/

